# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Python related
__pycache__/

# VSCode
.vscode

# VENV
.venv
venv

# JPEG
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi
*.png

# Portable Document Format
*.pdf

# Tagged Image File Format
*.tiff
*.tif

# Data emitted from docker image
*/data

# BLE_Xiaomi_Mija clone projects
BLE_Xiaomi_Mija/MiTemperature2
# Raspi/LCD clone project
Raspi/LCD/GitClone/lcd-master


# Microsoft Office files
*.pptx

# From Practical python programming for IoT master (book-download source)
venv*
_gs*
__pycache__
.idea
.AppleDouble
.DS_Store
*.log
.mypy_cache
*.code-workspace
sync.sh